
@{
    //ViewData["Title"] = "CreateUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/custom/book.js"></script>
<h2>Book Details</h2>
<hr />
<div class="action-panel create-update-book-row">
    <h3 class="text-center mb-4 create-book-title">Create Book</h3>
    <h3 class="text-center mb-4 edit-book-title">Edit Book</h3>
    <div class="col-xl-12 col-lg-12 col-md-12 col-11 text-center">
        <div class="card">
            <input type="hidden" id="BookId" name="BookId" />
            <h5 class="text-center mb-4">Please fill details below for books</h5>
            <form class="form-card">
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label">Code</label>
                        <input class="form-control" type="text" id="txtBCode" name="txtBCode" placeholder="Enter the book code">
                    </div>
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label">Name</label>
                        <input class="form-control" type="text" id="txtBName" name="txtBName" placeholder="Enter book name">
                    </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label">Price</label>
                        <input class="form-control" type="text" id="txtBPrice" name="txtBPrice" placeholder="Price of book">
                    </div>
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label">Shelf</label>
                        <select class="form-control form-control-lg" id="ddlBShelfId" name="ddlBShelfId">
                        </select>
                    </div>
                </div>
                <div class="row justify-content-lg-start text-left">
                    <div class="form-group col-sm-3 flex-column d-flex">
                        <label class="form-control-label">Is Available</label>
                        <input class="form-control" type="checkbox" id="chkBAvailable" name="chkBAvailable" placeholder="">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group create-form-button col-sm-8">
                        <div class="row justify-content-center">
                            <div class="col-sm-4">
                                <button type="button" id="btnCreate" class="form-control btn-primary btnCreateUpdate">Create</button>
                                <button type="button" id="btnUpdate" class="form-control btn-primary btnCreateUpdate">Update</button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" id="btnCancelView" class="form-control btn-outline-dark">Cancel</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="action-panel view-book-row">
    <h3 class="text-center mb-4">View Book</h3>
    <div class="col-xl-12 col-lg-12 col-md-12 col-11 text-center">
        <div class="card">
            <h5 class="text-center mb-4">Please find the book details below</h5>
            <form class="form-card">
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label">Code</label>
                        <input readonly class="form-control-plaintext" type="text" id="vCode" name="vCode" placeholder="Enter your first name">
                    </div>
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label">Name</label>
                        <input readonly class="form-control-plaintext" type="text" id="vName" name="vName" placeholder="Enter your last name">
                    </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label">Price</label>
                        <input readonly class="form-control-plaintext" type="text" id="vPrice" name="vPrice" placeholder="">
                    </div>
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label">Shelf</label>
                        <input readonly class="form-control-plaintext" type="text" id="vShelf" name="vShelf" placeholder="">
                    </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label">Is Available</label>
                        <input readonly class="form-control-plaintext" type="text" id="vAvailable" name="vAvailable" placeholder="">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group create-form-button col-sm-8">
                        <div class="row justify-content-center">
                            <div class="col-sm-4">
                                <a href="/Book/DownloadPDFSample" id="downloadControl" class="form-control btn-primary">Download</a>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" id="btnBookViewCancel" class="form-control btn-outline-dark">Cancel</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="action-panel list-book-row">
    <h3 class="text-center mb-4">Book List</h3>
    <div class="container">
        <div class="row header-button justify-content-end">
            <div class="col-sm-2">
                <label>Is Deleted</label>
                <input type="checkbox" id="chkFilterDeleted" name="chkFilterDeleted" placeholder="" style="height:16px;">
            </div>
            <div class="col-sm-2">
                <button type="button" id="btnCreateView" class="form-control btn-primary">Create</button>
            </div>
        </div>
        <table class="table" id="BookDatatable">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Is Available</th>
                    <th>Price</th>
                    <th>Shelf</th>
                    <th>Deleted</th>
                    <th>Action</th>
                </tr>
            </thead>
            @*<tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>*@
        </table>
    </div>
</div>
